<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ book.author }} : {{ book.title }}</title>
</head>
<body>
    <h1 id = "logo"><a href ="/">Library</a></h1>
    <div class="book">
    <a href ="/book/{{books.index(book)}}">
          <img src= "/static/{{books.index(book)}}.jpeg">
      <h2>{{ book.author }} : {{ book.title }}</h2></a>
      <h3><i>{{ book.genre }}</i></h3>
      <form action="/" method="post">
        <label for="available">Available</label>
        <input type="checkbox" name="available" value="{{ book.checked_in }}">
        </form>        
</body>
</html>